{{rails_env}}:
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  host: {{database_host}}
  database: {{database_name}}_{{rails_env}}
  username: {{database_username}}
  password: {{database_password}}
